1. Write a Python expression to calculate the area of a circle with radius r = 7.
2. What will be the output of the expression 2 * 3 + 4?
3. Calculate the result of (8 / 2) * (3 + 2).
4. Write an expression to find the remainder when 15 is divided by 4.
5. Write a Python expression to convert 100 Fahrenheit to Celsius using the formula: C = (F - 32) *
5/9.
6. Evaluate the expression: 10 // 3 + 2 ** 3.
7. What does the expression 5 == 5 and 4 < 6 evaluate to?
8. What is the output of not (4 > 5 or 3 == 3)?
9. Write an expression that checks if a number x is odd.

In [6]:
1. 
# pi*r**2 <-- circle area formula
r=7
area = 3.14159 * (r ** 2)
print(f"area of circle is {round(area,2)}")

area of circle is 153.94

In [8]:
2.
a = 2 * 3 + 4
print(a)

10

In [10]:
3.
a = (8 / 2) * (3 + 2)
print(a)

20.0

In [16]:
4.
a = 15%4
print(f'Remainder is {a}')

Remainder is 3

In [26]:
5.
F = 100
C = (F - 32) * 5/9
print(f'100F into Celcius is {round(C,2)}')

100F into Celcius is 37.78

In [28]:
6.
a = 10 // 3 + 2 ** 3
print(a)

11

In [34]:
7.
print(f'5==5 evaluates as {5==5}')
print(f'5<6 evaluates as {5<6}')

5==5 evaluates as True
5<6 evaluates as True

In [36]:
8.
print(f'Output of 4 > 5 or 3 == 3 is {4 > 5 or 3 == 3}')

Output of 4 > 5 or 3 == 3 is True

In [48]:
9.
x = 7
if x%2!=0:
    print(f"{x} is Odd")
else:
    print(f"{x} is Even")

7 is Odd

Data Types
10. What is the type of the value 5.0?
11. How do you convert the integer 42 to a string?
12. What will the expression str(3.14) + ' is pi' output?
13. What is the output type of the expression 4 + 3.5?
14. Write a Python code to take an input from the user and convert it to an integer.
15. How can you find the type of a variable in Python?
16. Create a variable my_name and assign your name to it. Check if it is of type str.

In [52]:
10.
type(5.0)

float

In [58]:
11.
i = 42
print(type(i))
j = str(i)
print(type(j))

<class 'int'>
<class 'str'>

In [62]:
12.
i = str(3.14) + ' is pi'
print(i)

3.14 is pi

In [66]:
13.
print(f"type of output of 4 + 3.5 is {type(4 + 3.5)}")

type of output of 4 + 3.5 is <class 'float'>

In [98]:
14.
i = input("Enter here")
print(f'type of {i}: ',type(i))
if i.isalpha():
    print("please enter digit")
else:
    j = int(float(i))
    print(f'after type cast of {i}: {type(j)}')

Enter here 1.4

type of 1.4:  <class 'str'>
after type cast of 1.4: <class 'int'>

In [100]:
15.
# to find type of variable we use type() function

x = 4.6
type(x)

float

In [102]:
16.
a = 'Ashutosh'
type(a)

str

Data Structures - Lists, Tuples, Sets, and Dictionaries
17. How do you create an empty list in Python?
18. Write code to add an element 42 to the end of the list [1, 2, 3].
19. How do you access the third element in the list my_list = [10, 20, 30, 40]?
20. What is the difference between a list and a tuple in Python?
21. Write a Python code to create a set with the elements 1, 2, and 3.
22. How do you remove an element from a set in Python?
23. Write code to retrieve the value of the key 'name' from the dictionary person = {'name': 'Alice',
'age': 25}.
24. Create a dictionary with three key-value pairs and then remove one pair from it.
25. Given my_tuple = (5, 10, 15), how can you access the element 10?

In [104]:
17.
l1 = []
print(f"Empty list {l1}")

Empty list []

In [106]:
18.
l1 = [1, 2, 3]
l1.append(42)
l1

[1, 2, 3, 42]

In [108]:
19.
my_list = [10, 20, 30, 40]
print(f'third element of list is {my_list[2]}')

third element of list is 30

In [114]:
20.
s1 = set()
s1.add(1)
s1.add(2)
s1.add(3)
print(s1)

{1, 2, 3}

21.
List :  1. Mutable
        2. it has square brackets []
Tuple : 1. Immutable
        2. it has round brackets ()

In [118]:
22.
# earlier we have created set
print(s1)

{1, 2, 3}

In [120]:
# removing element '2' from set
s1.remove(2)
s1

{1, 3}

In [122]:
23.
person = {'name': 'Alice','age': 25}
person['name']

'Alice'

In [124]:
24.
person = {'name': 'Alice','age': 25, 'Profile':'HR'}
person

{'name': 'Alice', 'age': 25, 'Profile': 'HR'}

In [126]:
# removing Profile : HR
del person['Profile']
person

{'name': 'Alice', 'age': 25}

In [128]:
25.
# using for loop
my_tuple = (5, 10, 15)
for i in my_tuple:
    if i == 10:
        print(i)

10

In [130]:
# using indexing
my_tuple[1]

10

Methods of Data Structures
26. How do you find the length of a list numbers = [1, 2, 3, 4, 5]?
27. What method would you use to add an element at a specific index in a list?
28. Write a Python code to sort the list [4, 1, 3, 2] in ascending order.
29. How do you check if the number 5 is in the list [1, 2, 3, 4, 5]?
30. Write a code to concatenate two lists [1, 2, 3] and [4, 5, 6].

In [132]:
26.
numbers = [1, 2, 3, 4, 5]
len(numbers)

5

In [134]:
27.
# Insert Method is used to add element at specific index in list
l1 = [1,2,3,5]
l1.insert(3,4)
l1

[1, 2, 3, 4, 5]

In [138]:
28.
l1 = [4, 1, 3, 2]
l1.sort()
l1

[1, 2, 3, 4]

In [142]:
29.
l1 = [1, 2, 3, 4, 5]
j = 5
fg = 0
for i in l1:
    if i==j:
        fg = 1
    else:
        fg = 0
if fg:
    print(f'{j} Found')
else:
    print(f'{j} not found')

5 Found

In [148]:
30.
l1 = [1, 2, 3]
l2 = [4, 5, 6]
l3 = l1 + l2
print(f'after concatenation, {l3}')

after concatenation, [1, 2, 3, 4, 5, 6]

Branching
31. Write a Python if statement to check if a number x is positive.
32. Modify the previous question to include else to handle the case when x is negative or zero.
33. Write an if-elif-else block to check if a number is positive, negative, or zero.
34. How would you use a ternary operator to assign the value 10 to result if x > 5, otherwise assign
5?
35. Write an if statement that checks if a variable score is greater than or equal to 90, and if so,
prints 'A grade'.
36. Use an if statement to check if a list fruits = ['apple', 'banana', 'cherry'] contains the element
'banana'.
37. Write a nested if statement that prints 'Adult Male' if age > 18 and gender == 'male'.
38. Create a Python code snippet using if statements to determine if a number is divisible by 3, 5, or
both.
39. Write an if condition that checks if a string name is not empty and prints 'Name is provided'.
40. Use an if statement to check if a variable age is within the range 18 to 25 inclusive.

In [164]:
31.
x = 1
if x>0:
    print("X is positive")

X is positive

In [160]:
32.
x = 1
if x<0:
    print("X is negative")
elif x>0:
    print('X is positive')
else:
    print('X is zero')

X is positive

In [166]:
33.
x = 1
if x<0:
    print(f"{x} is negative")
elif x>0:
    print(f'{x} is positive')
else:
    print(f'{x} is zero')

1 is positive

In [170]:
34.
x = 4
a = 10 if x>5 else 5
print(a)

5

In [172]:
35.
score = 90
if score >= 90:
    print('A grade')

A grade

In [174]:
36.
fruits = ['apple', 'banana', 'cherry']
for i in fruits:
    if i == 'banana':
        print(i)

banana

In [180]:
37.
age = 20
gender = 'Male'

if gender=='Male':
    if age>18:
        print('Adult Male')

Adult Male

In [188]:
38.
no = 5
if no%3==0:
    print('Can be divided by 3')
elif no%5==0:
    print('Can be divided by 5')
elif no%5==0 & no%3==0:
    print('divided by both')

Can be divided by 5

In [182]:
39.
name = "Ashu"
if name:
    print("Name is provided")
# checking if name is given

Name is provided

In [184]:
40.
age = 20  
if 18 <= age <= 25:
    print("Age is within the range 18 to 25")
else:
    print("Age is outside the range 18 to 25")

Age is within the range 18 to 25