1.List five Python keywords and describe what they do.

if: This is a keyword used to introduce a condition and execute the corresponding codeblock.
while: This is used to create a loop that executes till the specified condition is valid.
for: This also is used to create a loop that executes till the specified condition is valid.
continue: This keyword continues executing the rest oof the code.
return: marks the end of execution and returns the desired result.

In [144]:
#2. Write an expression to calculate the area of a rectangle with a length of 5 and width of 10.

length=5
width=10
area=width*length
area

50

In [142]:
#3. Use the is keyword to check if two variables point to the same object

a = 'Jungle'
b = 'Amazing'
print(a is b)  # Output: False

False

In [140]:
#4. Write a Python expression that combines addition, subtraction, multiplication, and division

a=7
b=12
c=(a+b*2)/5
c

6.2

In [138]:
#5. What is the output of 10 % 3? Explain why

ans=10%3
ans

#Here, we use the % operator to obtain a remainder as result

1

In [136]:
#6. Check the type of the value 3.14 in Python.

a=3.14
type(a)

float

In [134]:
#7. Convert the integer 10 to a float and a string. Print the results.

a=float(10)
b=str(10)
print(a,b)

10.0 10

In [132]:
#8. Write a statement to add two strings and print the result.

strA='Ashu'
strB=' Chavan'
strA+strB

'Ashu Chavan'

In [128]:
#9. What data type would the result of 3 > 2 be?

type(3>2)

bool

In [126]:
#10. How can you convert a string "123" into an integer?

a=str(123)
b=int(a)
type(b)

int

In [124]:
#11. Create a list of 5 elements and print the third element.

lst=[1,2,3,5,7]
print(lst[2])

3

In [122]:
#12. Add a new element to a list called my_list using the .append() method.

my_list=[1,6,90,76,89]
my_list.append(88)
my_list

[1, 6, 90, 76, 89, 88]

In [120]:
#13. Remove the last element from a list my_list using the .pop() method.

my_list=[1,6,90,76,89]
my_list.pop()

89

In [118]:
#14. Create a tuple with four elements and try changing the second element. What happens?

tup=[1,2,8,9]
tup[1]=8
tup
#the second element gets changed

[1, 8, 8, 9]

In [116]:
#15. Use slicing to get the last two elements from a list `[10, 20, 30, 40, 50]

my_list = [10, 20, 30, 40, 50]
last_two = my_list[-2:]
print(last_two)

[40, 50]

In [114]:
#16. Create a tuple with four elements and try changing the second element. What happens?


tup=[2,8,99,100]
tup[1]=5
tup
#in case of tuple, the element remains unchanged

[2, 5, 99, 100]

In [110]:
#17. Use slicing to get the last two elements from a list [10, 20, 30, 40, 50]

lst=[10, 20, 30, 40, 50]
lst[-2:]

[40, 50]

In [106]:
#18. Create a dictionary with keys 'name' and 'age' and values 'Alice' and 25.

dict={'name':'Alice', 'age':25}
dict

{'name': 'Alice', 'age': 25}

In [104]:
#19. Retrieve the value associated with the key 'name' from the dictionary you created in question 16.

dict={'name':'Alice', 'age':25}
dict['name']

'Alice'

In [102]:
#20. Check if the key 'name' exists in a dictionary

dict={'name':'Alice', 'age':25}
'name' in dict

True

In [ ]:
21. What is the difference between a list and a set in Python?
In case of sets, elements will not be repeated, while in case of list, elements can be repeated. Also, lists are within square brackets[], while sets are written within {}.

In [100]:
#22. Convert a list [1, 2, 3, 2, 1] into a set and print the result.

lst=[1, 2, 3, 2, 1]
st=set(lst)
st

{1, 2, 3}

In [98]:
#23. Write an if statement that prints 'Greater than 10' if a number is greater than 10.

a=int(input())
if a>10:
    print('Greater than 10')
else:
    print('Less than 10')

 2

Less than 10

In [96]:
#24. Write an if-else statement that checks if a number is positive or negative.

num=int(input())
if num>0:
    print('Positive')
else:
    print('Negative')

 -1

Negative

In [ ]:
#25. Write an if-elif-else statement that checks if a number is positive, negative, or zero.

nums=int(input())
if nums>0:
    print('Positive')
elif nums<0:
    print('Negative')
else:
    print('Zero')

In [94]:
#26. Create a Python program that takes an integer as input and prints 'Even' if it is even and 'Odd' if it is odd

number=int(input())
if number%2==0:
    print('Even')
else:
    print('Odd')

 2

Even

In [92]:
#27. Write a program that checks if a given year is a leap year.

yr=int(input())
if yr%4==0:
    print('Leap year')
else:
    print('Not a leap year')

 2015

Not a leap year

In [90]:
#28. Use a nested if statement to check if a number is positive and even.

number=int(input())
if number%2==0 and number>0:
    print('Positive and even')
else:
    print('Not positive and even')

 2

Positive and even

In [88]:
#29. Write a program to check if a variable x is between 5 and 10.

number=int(input())
if(number>5 and number<10):
    print('Between 5 and 10')
else:
    print('Not between 5 and 10')

 7

Between 5 and 10

In [86]:
#30. Write an if statement that checks if a variable is a specific data type.

x=int(input())
if type(x)==int:
    print('Integer')
else:
    print('Not integer')

 1

Integer

In [82]:
#31. Write a program that prints 'Pass' if a student's grade is 60 or higher, otherwise 'Fail'.


marks=int(input())
if marks>=60:
    print('Pass')

 80

Pass

In [80]:
#32. Write an if statement that prints a message if a variable is empty.

x = input("Enter something: ")
if x == "":
    print("Empty")
else:
    print("Not Empty")

Enter something:  asd

Not Empty

In [78]:
#33. Use a for loop and range() to print numbers from 1 to 10.

for i in range (1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [76]:
#34. Write a for loop that calculates the sum of all numbers from 1 to 20.

sum=0
for i in range (1,21):
    sum+=i
print(sum)

210

In [74]:
#35. Use a for loop to iterate over a list of names and print each name.

names=['Ashu','Asmi','Rushi','Kedar','Pandit','Shinchan']
for i in names:
    print(i)

Ashu
Asmi
Rushi
Kedar
Pandit
Shinchan

In [68]:
#36. Write a program to print the squares of numbers from 1 to 10 using a for loop

for i in range (1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [66]:
#37. Use a for loop and range() to print all even numbers from 1 to 20

for i in range(1,21):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [60]:
#38. Write a program that counts down from 10 to 1 using a for loop.

for i in range (10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [64]:
#39. Create a list of fruits and use a for loop to print each fruit in uppercase

fruits=['mango','banana','strawberry','apple']
for fruit in fruits:
    print(fruit.upper())

MANGO
BANANA
STRAWBERRY
APPLE

In [62]:
#40. Write a for loop that prints the elements in a list along with their index.

fruits=['mango','banana','strawberry','apple']
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 mango
1 banana
2 strawberry
3 apple

In [54]:
#41. Use range() with three arguments to print every third number from 0 to 30

for i in range(0,31,3):
  print(i)

0
3
6
9
12
15
18
21
24
27
30

In [52]:
#42. Write a program to calculate the factorial of a number using a for loop.

x=int(input())
fact=1
for i in range(1,x+1):
  fact*=i
print(fact)

 12

479001600

In [50]:
#43. Use a while loop to print numbers from 1 to 5.

i=1
while i<=5:
  print(i)
  i+=1

1
2
3
4
5

In [46]:
#44. Write a program that keeps asking the user for a password until they enter '1234'

str(input())
while str(input())!='1234':
  print('Try again')

 122
 1234

In [44]:
#45. Write a while loop to find the sum of numbers from 1 to 100.

addi=0
i = 1
while i<=100:
  addi+=i
  i+=1
print(addi)

5050

In [38]:
#46. Use a while loop to print the numbers in reverse from 10 to 1.

i=10
while  i>=1:
  print(i)
  i-=1

10
9
8
7
6
5
4
3
2
1

In [36]:
#47. Write a while loop that prints only even numbers between 1 and 20.

i=1
while i<=20:
  if i%2==0:
    print(i)
  i+=1

2
4
6
8
10
12
14
16
18
20

In [30]:
#48. Create a while loop that stops once a number exceeds 100

i=1
while i<=101:
 print(i)
 i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101

In [32]:
#49. Create a while loop that stops once a number exceeds 100

i=1
while i<=101:
 print(i)
 i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101

In [20]:
#50. Write a while loop that repeatedly removes the last element from a list until it's empty.


my_list = [10, 20, 30, 40, 50]

while my_list:
    my_list.pop()  # Removes the last element
    print(my_list)

[10, 20, 30, 40]
[10, 20, 30]
[10, 20]
[10]
[]

In [18]:
#51. Create a countdown timer that counts down from 10 to 1 using while.


i = 10

while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

In [16]:
#52. Write a program that finds the first 10 multiples of 5 using a while loop.

i = 1
count = 0

while count < 10:
    print(5 * i)
    i += 1
    count += 1

5
10
15
20
25
30
35
40
45
50

In [12]:
#53. Use a while loop to generate a list of the first 10 Fibonacci numbers.

fib_list = [0, 1]
i = 2
while i < 10:
    wrd = fib_list[-1] + fib_list[-2]
    fib_list.append(wrd)
    i += 1
fib_list

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]