In [28]:
# 1. Create a pandas DataFrame from the following dictionary and display it:
#    data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'City': ['New York', 'Paris', 'London']}
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'City': ['New York', 'Paris', 'London']}
df = pd.DataFrame(data)
print("DataFrame:\n", df)

DataFrame:
       Name  Age      City
0    Alice   25  New York
1      Bob   30     Paris
2  Charlie   35    London

In [30]:
# 2. Load a CSV file named data.csv into a DataFrame.
df = pd.read_csv('data.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'data.csv'

In [6]:
# 3. Display the first 10 rows of a DataFrame.
result = df.head(10)
print("First 10 rows of the DataFrame:\n", result)

First 10 rows of the DataFrame:
       Name  Age      City
0    Alice   25  New York
1      Bob   30     Paris
2  Charlie   35    London

In [8]:
# 4. Select only the Name and Age columns from the DataFrame.
result = df[['Name', 'Age']]
print("Selected Name and Age columns:\n", result)

Selected Name and Age columns:
       Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [10]:
# 5. Find the shape (number of rows and columns) of the DataFrame.
result = df.shape
print("Shape of the DataFrame (rows, columns):", result)

Shape of the DataFrame (rows, columns): (3, 3)

In [12]:
# 6. Check if there are any missing values in the DataFrame.
result = df.isnull().any()
print("Check for missing values:\n", result)

Check for missing values:
 Name    False
Age     False
City    False
dtype: bool

In [14]:
# 7. Add a new column Country to the DataFrame with a default value of 'USA'.
df['Country'] = 'USA'
print("DataFrame after adding the Country column:\n", df)

DataFrame after adding the Country column:
       Name  Age      City Country
0    Alice   25  New York     USA
1      Bob   30     Paris     USA
2  Charlie   35    London     USA

In [16]:
# 8. Delete the City column from the DataFrame.
df = df.drop(columns=['City'])
print("DataFrame after deleting the City column:\n", df)

DataFrame after deleting the City column:
       Name  Age Country
0    Alice   25     USA
1      Bob   30     USA
2  Charlie   35     USA

In [18]:
# 9. Rename the column Age to Years.
df = df.rename(columns={'Age': 'Years'})
print("DataFrame after renaming Age to Years:\n", df)

DataFrame after renaming Age to Years:
       Name  Years Country
0    Alice     25     USA
1      Bob     30     USA
2  Charlie     35     USA

In [20]:
# 10. Save the DataFrame to a new CSV file called output.csv.
df.to_csv('output.csv', index=False)
print("DataFrame saved to output.csv")

DataFrame saved to output.csv

In [32]:
# 11. Filter rows where the Age column is greater than 30.
filtered_df = df[df['Age'] > 30]
print("Rows where Age is greater than 30:\n", filtered_df)

Rows where Age is greater than 30:
       Name  Age    City
2  Charlie   35  London

In [92]:
# 12. Add a new column Age_Group to classify Age as 'Young' (Age <= 30) or 'Old' (Age > 30).
df['Age_Group'] = ['Young' if age <= 30 else 'Old' for age in df['Age']]
print(df)

      Name  Age      City Age_Group
0    Alice   25  New York     Young
1      Bob   30     Paris     Young
2  Charlie   35    London       Old

In [90]:
# 13. Sort the DataFrame by the Age column in descending order.
sorted_df = df.sort_values(by='Age', ascending=False)
print(sorted_df)

      Name  Age      City Age_Group
2  Charlie   35    London       Old
1      Bob   30     Paris     Young
0    Alice   25  New York     Young

In [38]:
# 14. Calculate the mean, median, and standard deviation of the Age column.
mean = df['Age'].mean()
median = df['Age'].median()
std_dev = df['Age'].std()
print(f"Mean of Age: {mean}, Median of Age: {median}, Standard Deviation of Age: {std_dev}")

Mean of Age: 30.0, Median of Age: 30.0, Standard Deviation of Age: 5.0

In [40]:
# 15. Find the unique values in the City column.
unique_cities = df['City'].unique()
print("Unique values in the City column:", unique_cities)

Unique values in the City column: ['New York' 'Paris' 'London']

In [88]:
# 16. Count the occurrences of each unique value in the City column.
city_counts = df['City'].value_counts()
print("unique value in the City column:\n", city_counts)

unique value in the City column:
 City
New York    1
Paris       1
London      1
Name: count, dtype: int64

In [52]:
# 17. Concatenate two DataFrames df1 and df2 vertically.
result = pd.concat([df, df], ignore_index=True) # using same df twice to concat, ignore_index to take continuous indexing
print("Concatenated DataFrame:\n", result)

Concatenated DataFrame:
       Name  Age      City Age_Group
0    Alice   25  New York     Young
1      Bob   30     Paris     Young
2  Charlie   35    London       Old
3    Alice   25  New York     Young
4      Bob   30     Paris     Young
5  Charlie   35    London       Old

In [58]:
# 18. Merge two DataFrames df1 and df2 on a common column, ID.
result = pd.merge(df1, df2, on='ID')
print("Merged DataFrame:\n", result)

NameError: name 'df1' is not defined

In [86]:
# 20. Drop all rows with missing values in the DataFrame.
cleaned_df = df.dropna()
print(cleaned_df)

      Name  Age      City Age_Group
0    Alice   25  New York     Young
1      Bob   30     Paris     Young
2  Charlie   35    London       Old

In [84]:
# 21. Convert a column date with string values like "2023-01-01" into pandas datetime objects.
df['date'] = pd.to_datetime(df['date'])
print(df)

KeyError: 'date'

In [76]:
# 22. Extract the year, month, and day from the date column and add them as new columns.
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
print(df)

KeyError: 'date'

In [80]:
# 23. Filter rows where the date is between "2022-01-01" and "2023-01-01".
filtered_df = df[(df['date'] >= '2022-01-01') & (df['date'] <= '2023-01-01')]
print(filtered_df)

KeyError: 'date'

In [82]:
# 25. Group data by the year from the date column and calculate the total sales for each year.
grouped = df.groupby(df['date'].dt.year)['sales'].sum()
print(grouped)

KeyError: 'date'

In [78]:
# 26. Group the DataFrame by category and calculate the mean of the sales column.
grouped = df.groupby('category')['sales'].mean()
print(grouped)

KeyError: 'category'